$bg-0: #ffffff;
$bg-1: darken($bg-0, 5%);
$bg-2: darken($bg-1, 10%);

$text-0: #000000;
$text-1: #928374;

:root {
  --text-0: #{$text-0};
  --text-1: #{$text-1};

  --bg-0: #{$bg-0};
  --bg-1: #{$bg-1};
  --bg-2: #{$bg-2};

  --border-color: var(--bg-2);

  --primary-color: #007A59; // Gruvbox orange
  --hover-color: black;

  .social > img {
    filter: invert(0);
  }
}

